.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfffff;
  font-size: 1rem;
  color: #00545f;
  padding: 1rem;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    height: 8vh;
  }
}
